@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark{
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans), var(--font-noto-sans-thai);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.swiper-pagination-bullet.banner-bullet-dash {
  width: 17px !important;
  height: 4px !important;
  background: rgba(255,255,255, .9) !important;
  border-radius: 1px !important;
  transition: background .3s ease, transform .3s ease;
}

.swiper-pagination-bullet-active.banner-bullet-dash {
  background: #fff;
}